*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 150px;
    width: 350px;
    color:burlywood;
    background-color: brown;
    border:2px solid black;
    text-align: center;
}